
@{
    ViewBag.Title = "Access Denied";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">YETKİ HATASI</h1>
        <p class="lead">BU SAYFAYA ERİŞME YETKİNİZ YOKTUR.</p>
    </section>
</main>